In [1]:

# load dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
state_energy = pd.read_csv("state_prod.csv")
state_energy.head()

,Data_Status,StateCode,MSN,1960,1961,1962,1963,1964,1965,1966,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,2017F,AK,CLPRB,11263.0,11497.0,13588.0,13307.0,11622.0,13931.0,14461.0,...,23041.0,29016.0,33556.0,33524.0,31332.000,24917.000,22944.000,17747.000,13942.000,14365.000
1,2017F,AK,CLPRK,15.6,15.6,15.6,15.6,15.6,15.6,15.6,...,15.6,15.6,15.6,15.6,15.268,15.272,15.278,15.073,14.957,14.978
2,2017F,AK,CLPRP,722.0,737.0,871.0,853.0,745.0,893.0,927.0,...,1477.0,1860.0,2151.0,2149.0,2052.000,1632.000,1502.000,1177.000,932.000,959.000
3,2017F,AK,COPRK,5.8,5.8,5.8,5.8,5.8,5.8,5.8,...,5.8,5.8,5.8,5.8,5.800,5.800,5.800,5.717,5.722,5.723
4,2017F,AK,EMFDB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.000

In [3]:
state_energy.columns

Index(['Data_Status', 'StateCode', 'MSN', '1960', '1961', '1962', '1963',
       '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972',
       '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'],
      dtype='object')

In [4]:
# drop column
state_energy = state_energy.drop(columns =["Data_Status"])
# rename column
state_energy = state_energy.rename(columns={'StateCode': 'State'})
state_energy.head()

,State,MSN,1960,1961,1962,1963,1964,1965,1966,1967,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,AK,CLPRB,11263.0,11497.0,13588.0,13307.0,11622.0,13931.0,14461.0,14430.0,...,23041.0,29016.0,33556.0,33524.0,31332.000,24917.000,22944.000,17747.000,13942.000,14365.000
1,AK,CLPRK,15.6,15.6,15.6,15.6,15.6,15.6,15.6,15.6,...,15.6,15.6,15.6,15.6,15.268,15.272,15.278,15.073,14.957,14.978
2,AK,CLPRP,722.0,737.0,871.0,853.0,745.0,893.0,927.0,925.0,...,1477.0,1860.0,2151.0,2149.0,2052.000,1632.000,1502.000,1177.000,932.000,959.000
3,AK,COPRK,5.8,5.8,5.8,5.8,5.8,5.8,5.8,5.8,...,5.8,5.8,5.8,5.8,5.800,5.800,5.800,5.717,5.722,5.723
4,AK,EMFDB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.000,0.000,0.000

In [5]:
state_energy.shape

(1259, 60)

In [6]:
#reset datafram index and remove uneccessary columns 
state_energy.set_index('MSN', inplace=True)
state = state_energy.drop(["CLPRK","CLPRP","COPRK","EMFDB", "ENPRP","GETCB","HYTCB",
                  "NGMPK","NGMPP","NUETB","PAPRP","SOTCB", "TEPRB","TETCB","WDEXB", "WDTCB", "WSTCB", "WYTCB"])
state.head()

,State,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
MSN,,,,,,,,,,,,,,,,,,,,,
CLPRB,AK,11263.0,11497.0,13588.0,13307.0,11622.0,13931.0,14461.0,14430.0,11700.0,...,23041.0,29016.0,33556.0,33524.0,31332.0,24917.0,22944.0,17747.0,13942.0,14365.0
NGMPB,AK,248.0,637.0,2205.0,4541.0,6332.0,7325.0,11375.0,14576.0,17509.0,...,448503.0,443666.0,419310.0,405691.0,399421.0,380655.0,381937.0,380887.0,369864.0,382663.0
PAPRB,AK,3242.0,36697.0,59502.0,62292.0,64142.0,64542.0,83276.0,168931.0,383983.0,...,1449379.0,1365958.0,1269643.0,1188008.0,1115926.0,1089953.0,1050554.0,1007535.0,1025205.0,1032813.0
REPRB,AK,6800.0,7313.0,7453.0,7793.0,8102.0,8519.0,8328.0,8457.0,8486.0,...,12913.0,15685.0,16965.0,16078.0,17796.0,18629.0,19790.0,23786.0,25174.0,23677.0
ROPRB,AK,6800.0,7313.0,7453.0,7793.0,8102.0,8519.0,8328.0,8457.0,8486.0,...,12913.0,15685.0,16965.0,16078.0,17796.0,18629.0,19790.0,23786.0,25174.0,23677.0

In [7]:
state.shape

(315, 59)

In [8]:
# # reset the index
state.reset_index(level=0, inplace=True)
state.head()

,MSN,State,1960,1961,1962,1963,1964,1965,1966,1967,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,CLPRB,AK,11263.0,11497.0,13588.0,13307.0,11622.0,13931.0,14461.0,14430.0,...,23041.0,29016.0,33556.0,33524.0,31332.0,24917.0,22944.0,17747.0,13942.0,14365.0
1,NGMPB,AK,248.0,637.0,2205.0,4541.0,6332.0,7325.0,11375.0,14576.0,...,448503.0,443666.0,419310.0,405691.0,399421.0,380655.0,381937.0,380887.0,369864.0,382663.0
2,PAPRB,AK,3242.0,36697.0,59502.0,62292.0,64142.0,64542.0,83276.0,168931.0,...,1449379.0,1365958.0,1269643.0,1188008.0,1115926.0,1089953.0,1050554.0,1007535.0,1025205.0,1032813.0
3,REPRB,AK,6800.0,7313.0,7453.0,7793.0,8102.0,8519.0,8328.0,8457.0,...,12913.0,15685.0,16965.0,16078.0,17796.0,18629.0,19790.0,23786.0,25174.0,23677.0
4,ROPRB,AK,6800.0,7313.0,7453.0,7793.0,8102.0,8519.0,8328.0,8457.0,...,12913.0,15685.0,16965.0,16078.0,17796.0,18629.0,19790.0,23786.0,25174.0,23677.0

In [9]:
state.set_index('State', inplace=True)
state.head()

,MSN,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
State,,,,,,,,,,,,,,,,,,,,,
AK,CLPRB,11263.0,11497.0,13588.0,13307.0,11622.0,13931.0,14461.0,14430.0,11700.0,...,23041.0,29016.0,33556.0,33524.0,31332.0,24917.0,22944.0,17747.0,13942.0,14365.0
AK,NGMPB,248.0,637.0,2205.0,4541.0,6332.0,7325.0,11375.0,14576.0,17509.0,...,448503.0,443666.0,419310.0,405691.0,399421.0,380655.0,381937.0,380887.0,369864.0,382663.0
AK,PAPRB,3242.0,36697.0,59502.0,62292.0,64142.0,64542.0,83276.0,168931.0,383983.0,...,1449379.0,1365958.0,1269643.0,1188008.0,1115926.0,1089953.0,1050554.0,1007535.0,1025205.0,1032813.0
AK,REPRB,6800.0,7313.0,7453.0,7793.0,8102.0,8519.0,8328.0,8457.0,8486.0,...,12913.0,15685.0,16965.0,16078.0,17796.0,18629.0,19790.0,23786.0,25174.0,23677.0
AK,ROPRB,6800.0,7313.0,7453.0,7793.0,8102.0,8519.0,8328.0,8457.0,8486.0,...,12913.0,15685.0,16965.0,16078.0,17796.0,18629.0,19790.0,23786.0,25174.0,23677.0

In [10]:
state_en = state.transpose()
# state_energy.melt("StateCode")
state_en.head()

State,AK,AK,AK,AK,AK,AK,AL,AL,AL,AL,...,WV,WY,WY,WY,WY,WY,WY,X3,X3,X5
MSN,CLPRB,NGMPB,PAPRB,REPRB,ROPRB,WDPRB,CLPRB,NGMPB,PAPRB,REPRB,...,WDPRB,CLPRB,NGMPB,PAPRB,REPRB,ROPRB,WDPRB,NGMPB,PAPRB,PAPRB
1960,11263,248,3242,6800,6800,3681,318818,93,42508,112809,...,13367,35173,198204,776678,8174,8174,1623,295451,235527,0
1961,11497,637,36697,7313,7313,4145,316466,91,40200,118021,...,12565,43949,212461,823235,8273,8273,1536,351301,322713,0
1962,13588,2205,59502,7453,7453,4246,315608,208,43343,125564,...,12784,44644,223727,787913,11746,11746,1448,473669,445238,0
1963,13307,4541,62292,7793,7793,4383,302842,288,53215,112682,...,12629,54288,228162,837561,10641,10641,1430,588351,559065,0

In [11]:
#print the hader 
state_en.columns

Index(['AK', 'AK', 'AK', 'AK', 'AK', 'AK', 'AL', 'AL', 'AL', 'AL',
       ...
       'WV', 'WY', 'WY', 'WY', 'WY', 'WY', 'WY', 'X3', 'X3', 'X5'],
      dtype='object', name='State', length=315)

In [12]:
#dropped uneccessary columns 

energy_data = state_en.drop(columns =["X3","X5"])
energy_data.head()

State,AK,AK,AK,AK,AK,AK,AL,AL,AL,AL,...,WV,WV,WV,WV,WY,WY,WY,WY,WY,WY
MSN,CLPRB,NGMPB,PAPRB,REPRB,ROPRB,WDPRB,CLPRB,NGMPB,PAPRB,REPRB,...,PAPRB,REPRB,ROPRB,WDPRB,CLPRB,NGMPB,PAPRB,REPRB,ROPRB,WDPRB
1960,11263,248,3242,6800,6800,3681,318818,93,42508,112809,...,13340,23464,23464,13367,35173,198204,776678,8174,8174,1623
1961,11497,637,36697,7313,7313,4145,316466,91,40200,118021,...,16008,23666,23666,12565,43949,212461,823235,8273,8273,1536
1962,13588,2205,59502,7453,7453,4246,315608,208,43343,125564,...,20126,23755,23755,12784,44644,223727,787913,11746,11746,1448
1963,13307,4541,62292,7793,7793,4383,302842,288,53215,112682,...,19430,21029,21029,12629,54288,228162,837561,10641,10641,1430

In [13]:
energy_data.columns

Index(['AK', 'AK', 'AK', 'AK', 'AK', 'AK', 'AL', 'AL', 'AL', 'AL',
       ...
       'WV', 'WV', 'WV', 'WV', 'WY', 'WY', 'WY', 'WY', 'WY', 'WY'],
      dtype='object', name='State', length=312)

In [14]:
energy_data.to_csv("enrgy_data_model_02.csv")